<div class="container">
    <div class="box has-background-light Margin">
        <div class="container has-text-centered">

            <div class="title has-text-dark has-text-centered">Send Article</div>
            <span class="icon Icon Title has-text-centered"> </span>

            <div class="field">
                <div class="column has-text-left">
                    <label class="label" for="firstName">Title Article</label>
                    <div class="control">
                        <input class="input is-rounded" type="text" placeholder="Title Article" name="titleArticle"
                            formControlName="title" />
                    </div>
                </div>

                <div class="column has-text-left">
                    <label class="label" for="firstName">Abstract</label>
                    <div class="controls">
                        <input class="input is-rounded" type="text" placeholder="Abstract" name="abstract"
                            formControlName="abstract" />
                    </div>
                </div>

                <div class="column has-text-left">
                    <label class="label" for="firstName">Keywords</label>
                    <div class="controls">
                        <input class="input is-rounded" type="text" placeholder="Keywords" name="keywords"
                            formControlName="keywords" />
                    </div>
                </div>

                <br>
                <div class="columns">
                    <div class="column">
                        <label class="label" for="firstName">First Name</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" placeholder="First Name" name="firstName"
                                formControlName="name" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" for="secondName">Second Name</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" placeholder="Second Name" name="secondName"
                                formControlName="secondname" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="columns">
                    <div class="column">
                        <label class="label" for="firstLastName">First Last Name</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" placeholder="First Last Name"
                                name="firstLastName" formControlName="lastname" />
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" for="secondLastName">Second Last Name</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" placeholder="Second Last Name"
                                name="secondLastName" formControlName="secondlastname" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="columns">
                    <div class="column has-text-left">
                        <label class="label" for="country">Entity</label>
                        <div class="control has-icons-left">
                            <input class="input is-rounded" type="text" placeholder="Entity" name="entity"
                                formControlName="entity" /><span class="icon is-left"><i
                                    class="fas fa-globe-americas"></i></span>
                        </div>
                    </div>

                </div>
                <br />
                <div class="columns">
                    <div class="column has-text-left">
                        <label class="label" for="email">Email</label>
                        <div class="control has-icons-left">
                            <input class="input is-rounded" type="email" placeholder="Email" name="email"
                                formControlName="email" /><span class="icon is-left"><i
                                    class="fa">envelope-square</i></span>
                        </div>
                    </div>
                </div>
                <br />

            </div>

        </div>
    </div>

    <div class="box has-background-light Margin">
        <div class="container has-text-centered">
            <div class="contenedor">
                <div class="contenedor_formulario">
                    <h1 class="is-size-1">Subir archivo</h1>
                    <form>
                        <div class="file has-name is-boxed">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-label">
                                        Elegir un archivo…
                                    </span>
                                </span>
                                <span class="file-name">
                                    No hay un archivo seleccionado
                                </span>
                            </label>
                        </div>
                        <hr>
                        <progress class="progress is-large is-success" value="0" max="100">0%</progress>
                        <button class="button is-success is-large">Subir archivo</button>
                    </form>

                </div>
            </div>
        </div>
    </div>