<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <p class="title">Vector Magazine</p>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item has-text-light">
            Description
          </a>
          <a class="navbar-item has-text-light">
            Evaluation
          </a>
          <a class="navbar-item has-text-light">
            Articles
          </a>
          <span class="navbar-item">
            <a class="button is-warning">
              <span class="icon">
                <i class="fas fa-users"></i>
              </span>
              <span class="has-text-light">Login</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
