<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title has-text-light Title">
      Vector Magazine
    </p>
    <p class="subtitle has-text-light Subtitle">
      Algo así bien impactante
    </p>
  </div>
</div>
<div class="info">
  <div class="columns">
    <div class="column">
      <article class="tile is-child notification is-danger">
        <p class="title has-text-centered">Evaluation</p>
        <p class="subtitle has-text-centered">Our from to Evaluate</p>
        <div class="content">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
            est officia officiis, quae, sapiente optio neque molestiae
            repudiandae beatae dolor doloribus maxime illo! Consectetur, numquam
            saepe maxime illo delectus magnam.
          </p>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="tile is-child notification is-danger">
        <p class="title has-text-centered">Classification</p>
        <p class="subtitle has-text-centered">Aligned with the right tile</p>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam
            repudiandae repellendus aspernatur, quasi vero? Laboriosam, magnam!
            Dolor fugiat id saepe doloremque rem delectus reprehenderit hic
            nostrum at, molestias nobis?
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <article class="tile is-child notification is-danger">
      <p class="title has-text-centered">Articles</p>
      <p class="subtitle has-text-centered">Our Aritcles</p>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cum
          assumenda molestiae vitae quia dolorem nobis, quaerat sint a tempora
          id quibusdam cumque veniam sed fuga laboriosam illum unde minima. Amet
          asperiores cumque, sed deleniti, placeat id accusantium voluptas,
          voluptate nemo rem dolore? Aperiam aliquid repellat sed, sapiente
          ipsum id autem repellendus! Unde cupiditate modi debitis neque cumque
          voluptate exercitationem! Expedita eveniet quas animi tenetur nihil
          numquam corporis veniam sit! Temporibus amet cupiditate, distinctio
          aperiam in reprehenderit tenetur, iusto et nemo, magni blanditiis
          repudiandae ut autem porro quidem sunt aliquam! Sit, rerum quia
          tempore repudiandae adipisci iste veritatis ut sequi, in explicabo
          dignissimos dolores saepe harum? Voluptate nobis sapiente esse.
          Perspiciatis facere a veniam illo vitae aut libero molestias quae!
          Illo dignissimos suscipit obcaecati error ducimus distinctio facere
          sequi et nisi aspernatur quam id unde nesciunt natus ex facilis
          architecto inventore, quaerat consectetur ab repudiandae iure itaque
          accusamus? Fugit, atque.
        </p>
      </div>
    </article>
  </div>
</div>
