<app-carousel></app-carousel>
<ul class="nav nav-fill" id="nav">
    <li class="nav-item active">
        <a class="nav-link" routerLink="#" id="des">Description</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="#" id="eva">Evaluation Form</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="#" id="art">Articles</a>
    </li>
</ul>
<div class="jumbotron" id="articles">
    <h1 class="display-9">Articles</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Learn more</a>
</div>
<div class="jumbotron" id="description">
    <h1 class="display-9">Description</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Learn more</a>
</div>
<div class="jumbotron" id="evaluation">
    <h1 class="display-9">Evaluation Form</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Learn more</a>
</div>