<div class="hero-body">
  <div class="container has-text-centered">
    <p class="title has-text-light Title">
      Vector Magazine
    </p>
    <p class="subtitle has-text-light Subtitle">
      Algo así, bien impactante
    </p>
  </div>
  <div class="info">
    <div class="columns">
      <div class="column">
        <article class="tile is-child notification is-light box">
          <p class="title has-text-centered has-text-dark">Evaluation</p>
          <p class="subtitle has-text-centered has-text-dark">
            Our from to Evaluate
          </p>
          <div class="content">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
              est officia officiis, quae, sapiente optio neque molestiae
              repudiandae beatae dolor doloribus maxime illo! Consectetur,
              numquam saepe maxime illo delectus magnam.
            </p>
          </div>
        </article>
      </div>
      <div class="column">
        <article class="tile is-child notification is-light box">
          <p class="title has-text-centered has-text-dark">Classification</p>
          <p class="subtitle has-text-centered has-text-dark">
            Aligned with the right tile
          </p>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
              nam repudiandae repellendus aspernatur, quasi vero? Laboriosam,
              magnam! Dolor fugiat id saepe doloremque rem delectus
              reprehenderit hic nostrum at, molestias nobis?
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <article class="tile is-child notification is-light box">
        <p class="title has-text-centered has-text-dark">Articles</p>
        <p class="subtitle has-text-centered has-text-dark">Our Aritcles</p>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cum
            assumenda molestiae vitae quia dolorem nobis, quaerat sint a tempora
            id quibusdam cumque veniam sed fuga laboriosam illum unde minima.
            Amet asperiores cumque, sed deleniti, placeat id accusantium
            voluptas, voluptate nemo rem dolore? Aperiam aliquid repellat sed,
            sapiente ipsum id autem repellendus! Unde cupiditate modi debitis
            neque cumque voluptate exercitationem! Expedita eveniet quas animi
            tenetur nihil numquam corporis veniam sit! Temporibus amet
            cupiditate, distinctio aperiam in reprehenderit tenetur, iusto et
            nemo, magni blanditiis repudiandae ut autem porro quidem sunt
            aliquam! Sit, rerum quia tempore repudiandae adipisci iste veritatis
            ut sequi, in explicabo dignissimos dolores saepe harum? Voluptate
            nobis sapiente esse. Perspiciatis facere a veniam illo vitae aut
            libero molestias quae! Illo dignissimos suscipit obcaecati error
            ducimus distinctio facere sequi et nisi aspernatur quam id unde
            nesciunt natus ex facilis architecto inventore, quaerat consectetur
            ab repudiandae iure itaque accusamus? Fugit, atque.
          </p>
        </div>
      </article>
    </div>
  </div>
  <!--Desde Aqui no Afecta a lo que pasa en navBar-->
  <h1 class="Title has-text-centered title">Articles</h1>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Barbara Middleton</strong>
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
          eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque
          mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
          <br />
          <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
        </p>
      </div>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Sean Brown</strong>
              <br />
              Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque
              habitant morbi tristique senectus et netus et malesuada fames ac
              turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis
              leo feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>

          <article class="media">
            Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu
            lorem cursus ullamcorper sit amet nec massa.
          </article>

          <article class="media">
            Morbi vitae diam et purus tincidunt porttitor vel vitae augue.
            Praesent malesuada metus sed pharetra euismod. Cras tellus odio,
            tincidunt iaculis diam non, porta aliquet tortor.
          </article>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Kayli Eunice </strong>
              <br />
              Sed convallis scelerisque mauris, non pulvinar nunc mattis vel.
              Maecenas varius felis sit amet magna vestibulum euismod malesuada
              cursus libero. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Phasellus lacinia non
              nisl id feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>
        </div>
      </article>
      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Kayli Eunice </strong>
              <br />
              Sed convallis scelerisque mauris, non pulvinar nunc mattis vel.
              Maecenas varius felis sit amet magna vestibulum euismod malesuada
              cursus libero. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Phasellus lacinia non
              nisl id feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </article>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Barbara Middleton</strong>
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
          eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque
          mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
          <br />
          <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
        </p>
      </div>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Sean Brown</strong>
              <br />
              Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque
              habitant morbi tristique senectus et netus et malesuada fames ac
              turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis
              leo feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>

          <article class="media">
            Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu
            lorem cursus ullamcorper sit amet nec massa.
          </article>

          <article class="media">
            Morbi vitae diam et purus tincidunt porttitor vel vitae augue.
            Praesent malesuada metus sed pharetra euismod. Cras tellus odio,
            tincidunt iaculis diam non, porta aliquet tortor.
          </article>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Kayli Eunice </strong>
              <br />
              Sed convallis scelerisque mauris, non pulvinar nunc mattis vel.
              Maecenas varius felis sit amet magna vestibulum euismod malesuada
              cursus libero. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Phasellus lacinia non
              nisl id feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>
        </div>
      </article>
      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Kayli Eunice </strong>
              <br />
              Sed convallis scelerisque mauris, non pulvinar nunc mattis vel.
              Maecenas varius felis sit amet magna vestibulum euismod malesuada
              cursus libero. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia Curae; Phasellus lacinia non
              nisl id feugiat.
              <br />
              <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </article>
</div>