<div *ngFor="let article of articles" class="margin">
  <article class="tile is-child notification is-light">
    <div class="columns">
      <div class="column">
        <p class="title has-text-dark">Title: {{ article.title }}</p>
        <p class="subtitle has-text-dark">KeyWords: {{ article.keywords }}</p>
      </div>
      <div class="column">
        <div class="content">
          <p class="subtitle has-text-dark">
            File:
            {{ article.file }}
          </p>
          <br />
          <p class="subtitle has-text-dark">Abstract: {{ article.abstract }}</p>
        </div>
      </div>
      <div class="column">
        <div>
          <button
            class="button is-rounded is-dark"
            routerLink="/Autor/Edit/{{ article.id }}"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </article>
  <br />
</div>
